@use 'color';

.footer{
    &__slider{
        position: relative;
    }
    &__recycling{
        background-color: color.$eightColor;
    }
    &__recycling h1{
        color: color.$threeColor;
        padding: 50px 0 10px 80px;
    }
    &__paragraph{
        padding: 50px 0 50px 80px;
        width: 100%;
    }
    &__paragraph p{
        color: color.$threeColor;
        font-size: 1.2rem;
        text-align: justify;
    }
    &__element{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
    }
    &__img{
        padding: 50px 80px 50px 0;
    }
    &__img img{
        width: 100%;
        border-radius: 3px;
    }
}

.slider__anterior,
.slider__siguiente{
    position: absolute;
    display: block;
    font-size: 50px;
    border: none;
    top: 40%;
    cursor: pointer;
    line-height: 30px;
    text-align: center;
    background: none;
    color: green;
}

.slider__anterior{
    left: -30px;
}
.slider__siguiente{
    right: 30px;
}

.slider__anterior .element.style{
    width: 30px;
    height: 30px;
}

@media (max-width: 768px){
    .footer{
        &__element{
            grid-template-columns: repeat(1, 1fr);
        }
        &__img{
            padding: 20px;
        }
        &__paragraph{
            padding: 20px;
        }
    }
}