@use 'color';

.footer{
    &__slider{
        position: relative;
    }
    &__recycling{
        background-color: color.$eightColor;
    }
    &__recycling h1{
        color: color.$threeColor;
        padding: 50px 0 10px 80px;
    }
    &__paragraph{
        padding: 50px 0 50px 80px;
        width: 100%;
    }
    &__paragraph p{
        color: color.$threeColor;
        font-size: 1.2rem;
        text-align: justify;
    }
    &__element{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
    }
    &__img{
        padding: 50px 80px 50px 0;
    }
    &__img img{
        width: 100%;
        border-radius: 3px;
    }
}

.slider__anterior,
.slider__siguiente{
    position: absolute;
    display: block;
    font-size: 50px;
    border: none;
    top: 40%;
    cursor: pointer;
    line-height: 30px;
    text-align: center;
    background: none;
    color: green;
}

.slider__anterior{
    left: -30px;
}
.slider__siguiente{
    right: 30px;
}

.slider__anterior .element.style{
    width: 30px;
    height: 30px;
}

@media (max-width: 768px){
    .footer{
        &__element{
            grid-template-columns: repeat(1, 1fr);
        }
        &__img{
            padding: 20px;
        }
        &__paragraph{
            padding: 20px;
        }
    }
}

/* FOOTER ABOUT */

.about{
    background-color: color.$tenColor;
    &__links{
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-evenly;
        border-bottom: 2px solid color.$twoColor;
    }
    &__text{
        width: 350px;
        display: flex;
        flex-direction: column;
        margin: 80px 15px;
    }
    &__text h3{
        color: color.$threeColor;
        font-size: 1.4rem;
        margin-bottom: 20px;
        height: 40px;
    }
    &__text a{
        color: color.$sixColor;
        text-decoration: none;
        font-size: 1.1rem;
        margin: 2px 0;
    }
    &__text a:hover{
        color: color.$nineColor;
    }
    &__text p{
        color: color.$sixColor;
        font-size: 1rem;
        margin: 10px 0;
    }
    &__icon a{
        color: color.$sixColor;
        font-size: 1.5rem;
    }
    &__icon a:hover{
        color: color.$nineColor;
    }
    &__input{
        display: flex;
    }
    &__button{
        width: 90px;
        background-color: color.$sevenColor;
        border: none;
        padding: 8px 5px;
        color: color.$threeColor;
        font-size: 0.8rem;
        font-weight: 700;
        cursor: pointer;
    }
    &__email{
        width: 150px;
        background-color: color.$threeColor;
        border: none;
        padding: 8px 10px;
        font-size: 0.6rem;
    }
    &__contact{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-top: 40px;
        margin-bottom: 70px;
    }
    &__contacts{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    &__phone{
        display: flex;
        margin: 0 15px;
    }
    &__phone i{
        color: color.$twoColor;
        font-size: 1.4rem;
        font-weight: 600;
    }
    &__correo{
        display: flex;
        margin: 0 15px;
    }
    &__correo i{
        color: color.$twoColor;
        font-size: 1.2rem;
        font-weight: 600;
    }
    &__contacto{
        color: color.$twoColor;
        font-size: 1.4rem;
        font-weight: 600;
        margin: 0 10px;
        cursor: pointer;
    }
    &__copyright{
        text-align: end;
        align-items: center;
    }
    &__copyright h5{
        font-size: 0.8rem;
        color: color.$twoColor;
    }
    &__website{
        width: 100%;
        margin: 0 auto;
        background-color: color.$oneColor;
        height: 30px;
        line-height: 30px;
    }
    &__website h4{
        text-align: end;
        color: color.$tenColor;
        margin-right: 60px;
    }
}

@media (max-width: 768px){
    .about{
        &__links{
            flex-wrap: wrap;
        }
        &__text{
            margin: 20px 15px;
        }
        &__text h3{
            margin-bottom: 10px;
        }
        &__copyright{
            margin: 30px 30px 0 0;
            text-align: right;
        }
        &__contact{
            justify-content: end;
        }
        &__website{
            height: 60px;
            line-height: 60px;
        }
        &__website h4{
            margin-right: 30px;
            font-size: 0.9rem;
        }
    }
}