@use 'color';
@use 'nav';
@use 'container';
@use 'header';
@use 'oneSection';
@use 'twoSection';
@use 'threeSection';
@use 'fourSection';
@use 'footer';

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: color.$threeColor;
    font-family: 'Nanum Gothic Coding', monospace;
}

